# Use this site key in the HTML code your site serves to users, below is the key for production
CLIENT_API_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

# Use this secret key for communication between your site and reCAPTCHA, below is the key for production
SERVER_API_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI

